{{ define "main" }}
  {{ partial "page-header" . }}

  {{ $sections := slice }}
  {{ range .Data.Pages }}
    {{ with .Section }}
      {{ $sections = $sections | append . }}
    {{ end }}
  {{ end }}
  {{ $sections = uniq $sections }}

  <section class="section">
    <div class="container">
      <div class="row gx-5">
        <!-- posts -->
        <div class="lg:col-8">
          <div class="row">
            {{ range .Data.Pages }}
              <div class="md:col-6 mb-14">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
        </div>
        <!-- sidebar -->
        <aside class="lg:col-4">
          {{ partial "widgets/section-sidebar" (dict "Sections" $sections) }}
        </aside>
      </div>
    </div>
  </section>
{{ end }}
